.projects{
    margin-top: 100px;
    margin-bottom: 70px;
    .title{
        margin: 0;
    }
    .project-heading{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;
    }
    .projects-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a{
            margin-bottom: 30px;
            position: relative;
            &::before{
                content: '+';
                position: absolute;
                width: 100%;
                height: 98.5%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 50px;
                border-radius: 10px;
                z-index: 2;
                opacity: 0;
                color: #fff;
                background: rgba(0, 0, 0, 0.616);
                transition: 0.3s;
            }
            &:hover::before {
                opacity: 1;
            }
        }
    }
}