body{
    background-color: #12141D;
    font-family: 'Poppins',
    sans-serif;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 165px;
}
@import "header";
@import "baner";
@import "about";
@import "services";
@import "project";
@import "founder";

